<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,160}}</string>
                <key>sourceSize</key>
                <string>{147,160}</string>
            </dict>
            <key>num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,164},{95,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,147}}</string>
                <key>sourceSize</key>
                <string>{95,147}</string>
            </dict>
            <key>num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{95,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,147}}</string>
                <key>sourceSize</key>
                <string>{95,147}</string>
            </dict>
            <key>num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{95,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,147}}</string>
                <key>sourceSize</key>
                <string>{95,147}</string>
            </dict>
            <key>progress0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{250,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,13}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{248,9}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{248,9}}</string>
                <key>sourceSize</key>
                <string>{250,13}</string>
            </dict>
            <key>snd.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,151},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fs.png</string>
            <key>size</key>
            <string>{254,339}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e071d3268de52dd96626f0483f7cd53:1/1$</string>
            <key>textureFileName</key>
            <string>fs.png</string>
        </dict>
    </dict>
</plist>
